.bookmark-wrapper {
  display: flex;
}

.bookmark-left {
  width: 300px;
}

.bookmark-right {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header {
  height: 70px;
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.no-post {
  margin-top: 20px;
  font-size: 2rem;
}
